---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$header-font-family: $base-font-family;
$header-text-color: #FFF;
$title-font-family: $base-font-family;
$meta-font-family: $base-font-family;

$spacing-unit:     $base-font-size * $base-line-height;

// Colors
$theme-color:            #3AA6D0;
$theme-color-complement: #FFA340;
$theme-color-light:      #62B1D0;
$theme-color-dark:       #024C68;

$text-color:       rgba(34, 34, 34, 0.8);
$background-color: #f6f9fb;
// $brand-color:      #2e2e2e;
$brand-color:      black;
$link-color:       $theme-color;
$link-hover-color: $theme-color-dark;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1200px;
$main-column-width: 800px;

$on-palm:          600px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// 不知道會不會用到，先留著
$font-multiplier: 1.25;
$font-size: (
  1: $base-font-size * $font-multiplier * $font-multiplier * $font-multiplier * $font-multiplier,
  2: $base-font-size * $font-multiplier * $font-multiplier * $font-multiplier,
  3: $base-font-size * $font-multiplier * $font-multiplier,
  4: $base-font-size * $font-multiplier,
  5: $base-font-size,
  6: $base-font-size / $font-multiplier
);
@mixin level($_level) {
  font-size: map-get($font-size, $_level);
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
