body {
  margin-top: 70px;
}

.anchor {
  position: relative;
  bottom: 70px;
}

.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('http://wallpaperology.com/zombie/1461185-playing-guitar-summer-of-69-1920x1200.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 100px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .desc {
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) {
  .desc {
    height: 90px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    width: 992px;
    margin: 0 auto;
  }
}
