<div class="learn-javascript">
  <h2>JavaScript</h2>
  <ul>
    <li><a href="/javascript/intro" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: '/javascript/intro'})">JavaScript 教學</a></li>
    <li><a href="/javascript/howto" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: '/javascript/howto'})">JavaScript 如何使用</a></li>
    <li><a href="/javascript/structure" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: '/javascript/structure'})">JavaScript 程式結構</a></li>
    <li><a href="/javascript/variable" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: '/javascript/variable'})">JavaScript 變數</a></li>
  </ul>
</div>