<div class="trending-posts">
  <h2>🔥 熱門文章 🔥</h2>
  <ul>
    <li><a href="/javascript-class/" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: 'javascript-class'})">[教學] JavaScript ES6 Class (類別)</a></li>
    <li><a href="/javascript-closure/" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: 'javascript-closure'})">[教學] JavaScript Closure (閉包)、函式與語彙環境</a></li>
    <li><a href="/what-is-cors/" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: 'what-is-cors'})">[教學] CORS 是什麼? 如何設定 CORS?</a></li>
    <li><a href="/cookies/" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: 'cookies'})">[教學] Cookie 與 document.cookie</a></li>
    <li><a href="/responsive-image/" onclick="trackViewArticle(EVENT_LABEL_TRENDING_ARTICLES, {id: 'responsive-image'})">[教學] 用 img srcset 與 HTML5 picture，讓圖片也能 RWD</a></li>
  </ul>
</div>