/**
 * Site header
 */
$header-height: 70px;

.site-header {
    min-height: $header-height;
    background-color: $brand-color;

    // Positioning context for the mobile navigation icon
    position: relative;

    .site-title {
        color: $header-text-color;
        font-size: 36px;
        font-weight: bold;
        line-height: $header-height;
        letter-spacing: 1px;
        margin-bottom: 0;
        float: left;
        font-family: $header-font-family;

        @include media-query($on-palm) {
            font-size: 24px;
        }
    }
}

.site-nav {
    float: right;
    line-height: $header-height;
    font-family: $header-font-family;

    .menu-icon {
        display: none;
    }

    .page-link {
        line-height: $base-line-height;
        color: $header-text-color;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 16px;
        right: $spacing-unit / 2;
        background-color: $brand-color;
        border: 1px solid $brand-color;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $header-text-color;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $brand-color;
    color: $header-text-color;
}

.footer-heading {
    font-size: 18px;
    font-family: $header-font-family;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-palm) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post {
  margin-bottom: $spacing-unit;
  background-color: $background-color;
  padding: $spacing-unit 2*$spacing-unit;
  border-radius: 5px;

  @include media-query($on-palm) {
    padding: 0.5 * $spacing-unit;
  }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        box-sizing: border-box;
        margin-bottom: $spacing-unit;
        background-color: $background-color;
        padding: $spacing-unit 2 * $spacing-unit;
        border-radius: 5px;

        @include media-query($on-palm) {
            padding: 0.5 * $spacing-unit $spacing-unit;
        };
    }
}

.post-meta {
    color: $grey-color;
    font-family: $meta-font-family;
}

.post-link {
    display: block;
}

.post-readmore {
    margin-top: $spacing-unit;
}

.post-tag {
  margin-left: 0.3em;

  &:hover {
    color: $grey-color-dark;
    text-decoration: underline;
  }
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;

    @include media-query($on-palm) {
    font-size: 22px;
    }
}

.post-content {
    h2 {
      font-size: 28px;
      margin-top: 2 * $spacing-unit;

      @include media-query($on-palm) {
        font-size: 22px;
      }
    }

    h3 {
      font-size: 24px;
      margin-top: 1.5 * $spacing-unit;

      @include media-query($on-palm) {
        font-size: 18px;
      }
    }

    // h2 {
    //     // font-size: 32px;
    //     @include level(2);
    //     @include media-query($on-palm) {
    //         // font-size: 28px;
    //         @include level(3);
    //     }
    // }
    //
    // h3 {
    //     // font-size: 26px;
    //     @include level(3);
    //     @include media-query($on-palm) {
    //         // font-size: 22px;
    //         @include level(4);
    //     }
    // }
    //
    // h4 {
    //     // font-size: 20px;
    //     @include level(4);
    //     @include media-query($on-palm) {
    //         // font-size: 18px;
    //         @include level(5);
    //     }
    // }
}

/* Header link */
/* http://ben.balter.com/2014/03/13/pages-anchor-links/ */

.header-link {
  position: relative;
  left: 0.5em;
  opacity: 0;
  font-size: 0.8em;
  color: #ccc;

  // -webkit-transition: opacity 0.2s ease-in-out 0.1s;
  // -moz-transition: opacity 0.2s ease-in-out 0.1s;
  // -ms-transition: opacity 0.2s ease-in-out 0.1s;
}
h2:hover .header-link,
h3:hover .header-link,
h4:hover .header-link,
h5:hover .header-link,
h6:hover .header-link {
  opacity: 1;

  &:hover {
    color: #777;
  }
}

.related-posts {
    margin-bottom: 2 * $spacing-unit;
}