<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v3.2&appId=163895163672009&autoLogAppEvents=1';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="column-container">
            <div class="main-column">
                {{ content }}
            </div>
            <aside class="side-column">
                <div class="search-bar">
                    <script>
                        (function() {
                          var cx = '010820220875439442678:z9rncs75jv4';
                          var gcse = document.createElement('script');
                          gcse.type = 'text/javascript';
                          gcse.async = true;
                          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                          var s = document.getElementsByTagName('script')[0];
                          s.parentNode.insertBefore(gcse, s);
                        })();
                      </script>
                      <gcse:searchbox-only></gcse:searchbox-only>
                </div>
                <h1>最新文章</h1>
                <ul>
                  {% for post in site.posts limit: 5 %}
                    <li><a href="{{ post.url }}" target="_blank" onclick="trackViewArticle(EVENT_LABEL_LATEST_ARTICLES)">{{ post.title }}</a></li>
                  {% endfor %}
                </ul>

                <h1>文章標籤分類</h1>
                {% capture tags %}
                  {% for tag in site.tags %}
                    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}|
                  {% endfor %}
                {% endcapture %}

                {% assign sortedtags = tags | split: '|' | sort %}
                <ul>
                  {% for tag in sortedtags reversed %}
                      {% assign tagitems = tag | split: '#' %}
                      {% if tagitems.size == 3 %}
                        {% assign tagname = tagitems[1] %}
                        {% assign tagcount = tagitems[2] %}
                        <li><a href="/tags/#{{ tagname | slugify }}" target="_blank" onclick="trackViewArticleList(EVENT_LABEL_ARTICLES_BY_TAG)">{{ tagname }} ({{ tagcount }})</a></li>
                      {% endif %}
                  {% endfor %}
                </ul>
            </aside>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- Prism: the syntax-highlighter -->
    <script src="/js/prism.js"></script>
    <script src="/js/anchor.js"></script>
    <script src="/js/analytics.js"></script>
  </body>

</html>
