<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- FB plugin -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v7.0&appId=1994883547264823&autoLogAppEvents=1" nonce="IKnmk4YI"></script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="column-container">
            <div class="main-column">
                {{ content }}
            </div>
            <aside class="side-column">
                <!-- No body is using it... -->
                <!-- <div class="search-bar">
                    <script>
                        (function() {
                          var cx = '010820220875439442678:z9rncs75jv4';
                          var gcse = document.createElement('script');
                          gcse.type = 'text/javascript';
                          gcse.async = true;
                          gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                          var s = document.getElementsByTagName('script')[0];
                          s.parentNode.insertBefore(gcse, s);
                        })();
                      </script>
                      <gcse:searchbox-only></gcse:searchbox-only>
                </div> -->

                <!-- NOTE: perf is a little worse than categories, maybe readers don't care -->
                <!-- <h1>最新文章</h1>
                <ul>
                  {% for post in site.posts limit: 5 %}
                    <li><a href="{{ post.url }}" onclick="trackViewArticle(EVENT_LABEL_LATEST_ARTICLES)">{{ post.title }}</a></li>
                  {% endfor %}
                </ul> -->

                {% include trending-posts.html %}

                {% include recommend-books.html %}

                <h1>文章分類</h1>
                {% capture tags %}
                  {% for tag in site.tags %}
                    {{ tag[1].size | plus: 1000 }}#{{ tag[0] }}#{{ tag[1].size }}|
                  {% endfor %}
                {% endcapture %}

                {% assign sortedtags = tags | split: '|' | sort | reverse | slice: 0, 6 %}
                <ul>
                  {% for tag in sortedtags %}
                      {% assign tagitems = tag | split: '#' %}
                      {% if tagitems.size == 3 %}
                        {% assign tagname = tagitems[1] %}
                        {% assign tagcount = tagitems[2] %}
                        <li><a href="/tags/#{{ tagname | slugify }}" onclick="trackViewArticleList(EVENT_LABEL_ARTICLES_BY_TAG)">{{ tagname }} ({{ tagcount }})</a></li>
                      {% endif %}
                  {% endfor %}
                  <li><a href="/tags/" onclick="trackViewArticleList(EVENT_LABEL_ARTICLES_BY_TAG_MORE)">更多分類...</a></li>
                </ul>
                <!-- FB Fan Page -->
                <div class="fb-page" data-href="https://www.facebook.com/shubo.code/" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shubo.code/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shubo.code/">Shubo 寫個 Code</a></blockquote></div>
            </aside>
        </div>
      </div>
    </div>

    {% include footer.html %}

    <!-- Track Leads -->
    <script>
      const aList = document.querySelectorAll('a');
      for (let a of aList) {
        if (a.href.includes('utm_medium=ap-books')) {
          a.onclick = () => trackLead(document.location.pathname);
        }
      }
    </script>

    <!-- Prism: the syntax-highlighter -->
    <script src="/js/prism.js"></script>
    <script src="/js/anchor.js"></script>
    <script src="/js/analytics.js"></script>
  </body>

</html>
