---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %}By <a href="/author/shubo/"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a> on {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
    <p class="post-meta">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% for tag in page.tags %}
        <a class="post-tag" href='/tags/#{{tag | slugify }}' target="_blank">{{ tag }}</a>
      {% endfor }%}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}

    <!-- <p class="share-title">喜歡這篇文章嗎？幫我按下分享讓更多人看到 🥰</p>
    <div class="share-button" onclick="share()">
      <i class="fa fa-share" aria-hidden="true"></i>分享
    </div>

    <script type="text/javascript">
      function share() {
        gtag('event', 'click_share');
        if (navigator.share) {
          const descElement = document.querySelector('meta[name="description"]');
          const canonicalElement = document.querySelector('link[rel=canonical]');
          navigator.share({
            title: document.title,
            text: descElement && descElement.content || document.title,
            url: canonicalElement && canonicalElement.href || document.location.href,
          })
          .then(res => {
            trackShare({
              method: 'native',
              content_type: 'post',
              content_id: document.location.pathname,
            })
          })
        } else {
          // TODO: show a modal and let user choose
        }
      }
    </script> -->

    {% include related.html %}

    <h2>粉絲團開張囉！</h2>
    <p>按讚才不會錯過更多優質技術文章的更新通知喔！</p>
    <!-- FB Fan Page -->
    <div style="margin-bottom: 48px;">
      <div class="fb-page" data-href="https://www.facebook.com/shubo.code/" data-tabs="" data-width="" data-height="" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/shubo.code/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/shubo.code/">Shubo 寫個 Code</a></blockquote></div>
    </div>
  </div>

  {% include disqus.html %}

</article>
