---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %}By <a href="/author/shubo/"><span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span></a> on {% endif %}
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
    </p>
    <p class="post-meta">
      <i class="fa fa-tags" aria-hidden="true"></i>
      {% for tag in page.tags %}
        <a class="post-tag" href='/tags/#{{tag | slugify }}' target="_blank">{{ tag }}</a>
      {% endfor }%}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <script async data-uid="a098853bd7" src="https://shubo-frontend-course.ck.page/a098853bd7/index.js"></script>
    <br>
    {{ content }}

    <!-- <p class="share-title">喜歡這篇文章嗎？幫我按下分享讓更多人看到 🥰</p>
    <div class="share-button" onclick="share()">
      <i class="fa fa-share" aria-hidden="true"></i>分享
    </div>

    <script type="text/javascript">
      function share() {
        gtag('event', 'click_share');
        if (navigator.share) {
          const descElement = document.querySelector('meta[name="description"]');
          const canonicalElement = document.querySelector('link[rel=canonical]');
          navigator.share({
            title: document.title,
            text: descElement && descElement.content || document.title,
            url: canonicalElement && canonicalElement.href || document.location.href,
          })
          .then(res => {
            trackShare({
              method: 'native',
              content_type: 'post',
              content_id: document.location.pathname,
            })
          })
        } else {
          // TODO: show a modal and let user choose
        }
      }
    </script> -->

    <!-- <p>有任何問題或想法，歡迎在下方留言給我，也可以追蹤我的 Facebook 粉絲團，才不會錯過最新文章的通知喔！</p> -->

    <p style="margin-bottom: 48px"></p>

    <script async data-uid="a098853bd7" src="https://shubo-frontend-course.ck.page/a098853bd7/index.js"></script>

    {% include related.html %}

    <!-- {% include trending-posts.html %} -->

    <!-- {% include recommend-books.html %} -->

    {% include disqus.html %}
  </div>

</article>
